@{
    ViewBag.Title = "EditPayment";
}
<div class="container_12">
<h2>EditPayment</h2>

@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        <form id="contact-form" method="post" onsubmit="return validateForm()" name="Form">
        <table id="t01">    
            <tr class="row1">
                <td>Xóa</td>
                <td>Stt</td>
                <td>Id</td>
                <td>Khách hàng</td>
                <td>Sản phẩm</td>
                <td>Số lượng</td>
                <td>Thời gian</td>
                <td>Tình trạng</td>
                <td>Ghi chú</td>
            </tr>
            @{var i=1;}
            @foreach (var item in ViewBag.Prods)
            {
                <tr>
                    <td class="editor-field">
                       <input type="checkbox" name="Delete" value="@item.id" data-constraints="" class="shortInput"/>
                    </td>
                    <td class="">
                        <p>@i</p>
                    </td>
                    <td class="">
                        <!--<p id="ID">@item.id</p>-->
                        <input type="text" name="ID" value="@item.id" readonly data-constraints="aRequired aJustLetters"  class="autoInput"/>
                    </td>
                    <td class="editor-field">
                        <input type="text" name="IdCustomer" value="@item.id_kh" readonly class="autoInput"/>
                    </td>
                    <td class="editor-field">
                        <input type="text" name="IdProd" value="@item.id_sp" readonly class="shortInput2"/>
                    </td>
                    <td class="editor-field">
                        <input type="number" name="Quantity" value="@item.so_luong_sp" data-constraints="" class="shortInput2"/>
                    </td>
                    <td class="editor-field">
                        <label class="name">
                       <input type="datetime" name="Time" value="@item.thoi_gian" data-constraints="" class="autoInput"/>
                            </label>
                    </td>
                    <td class="editor-field">
                        <input type="number" name="Status" value="@item.tinh_trang" data-constraints="" class="shortInput2"/>
                    </td>
                    <td class="editor-field">
                        <input type="text" name="Note" value="@item.ghi_chu" data-constraints="" class="autoInput"/>
                    </td>
                    @{i++; }
                </tr>
            }        
            <tr></tr>
        </table>
            <table>
                <tr><br /></tr>
                <tr>
                    <td>id</td>
                    <td>Tên </td>
                    <td>Ghi chú</td>
                </tr>
                 @for(var j=0; j<@ViewBag.TotalStatus;j++){
                <tr>
                    <td>@ViewBag.status[j].id</td>
                    <td>@ViewBag.status[j].ten</td>
                    <td>@ViewBag.status[j].ghi_chu</td>
                </tr>
                }
                <tr><br /></tr>
            </table>
        <p>
            <input type="submit" value="Save" onclick="validateForm()" />
        </p>
        </form>

}

<div>
    <p>@Html.ActionLink("Back to List", "Index")</p>

    <p>@Html.ActionLink("Add New", "Create")</p>

</div>
    <br />
    <br />
    <script>
        function validateForm() {
            return confirm("Bạn có đồng ý thay đổi ko?");
        }
    </script>


</div>
    