@model IEnumerable<honeyWeb.Models.SanPham>
@{
    //Layout = null;
    ViewBag.Title = "Index";
}

@section featured {

    <!---<div>
@foreach (var item in ViewBag.Prods) {
    <tr>
        <td>
            id: @item.id
        </td>
        <td>
            tên: @item.ten_sp
        </td>
        <td>
            giá: @item.gia_sp
        </td>
        <td>
            tình trạng: @item.tinh_trang
        </td>
    </tr>
}        
    </div>
        
    
    <section class="featured">
        <div class="content-wrapper">

<!--=======content================================-->


					<div class="container_12">
						<div class="grid_12">

							<div class="wrapper">
								<h2>Đặc điểm </h2>
<!--
								<div class="grid_3 alpha">
									<div class="wrapp maxheight marTop7">
										<a href="#" class="img_project">
											<img alt="" src="images\page3_pic1.jpg" class="">
											<span class="price_sign">$7</span>
										</a>
										<h3><a href="#">Duis autemve</a></h3>
										<p>Nam liber teor cum soluta nob</p>
									</div>

									<div class="wrapp maxheight marTop8">
										<a href="#" class="img_project">
											<img alt="" src="images\page3_pic2.jpg" class="">
											<span class="price_sign">$7</span>
										</a>
										<h3><a href="#">Vestibulum iaculis</a></h3>
										<p>Nam liber teor cum soluta nob</p>
									</div>

									<div class="wrapp maxheight marTop8">
										<a href="#" class="img_project">
											<img alt="" src="images\page3_pic3.jpg" class="">
											<span class="price_sign">$7</span>
										</a>
										<h3><a href="#">Lorem ipsum dolor</a></h3>
										<p>Nam liber teor cum soluta nob</p>
									</div>
								</div>
-->
                        @for(var t=0;t<1;t++){
                            for(var i=0; i<4;i++){
				                <div class="grid_3 alpha">
                                @if (i + t + i * t < @ViewBag.TotalProds)
                                {
					                <div class="wrapp  maxheight">
						                <a href="#" class="img_project">
							                <img alt="" src="@ViewBag.Prods[i + t + i * t].hinh_anh" class="">
							                <span class="price_sign">@ViewBag.Prods[i + t + i * t].gia_sp VND</span>
						                </a>
						                <!--<h3><a href="#">i=i t=t --(i + t + i * t + 1)-- ViewBag.Prods[i + t + i * t].ten_sp</a></h3>-->
                                        <h3><a href="#">@ViewBag.Prods[i + t + i * t].ten_sp</a></h3>
						                <p style="height:36px;">@ViewBag.Prods[i + t + i * t].ghi_chu</p>
					                </div>
                                }
                                @if (i + t + i * t + 1 < ViewBag.TotalProds)
                                {
					                <div class="wrapper marTop1">
						                <a href="#" class="img_project">
							                <img alt="" src="@ViewBag.Prods[i + 4 * (t+1)].hinh_anh" class="">
							                <span class="price_sign"> @ViewBag.Prods[i + 4 * (t+1)].gia_sp VND</span>
						                </a>
                                        <h3><a href="#">@ViewBag.Prods[i + 4 * (t+1)].ten_sp</a></h3>
						                <p style="height:36px;">@ViewBag.Prods[i + 4 * (t+1)].ghi_chu</p>
					                </div>
                                }
				                </div>  
                                
                            }
                        }

							</div>


							<div class="indent1"></div>


						</div>
					</div>
    
        </div>
    </section>

}

