@model IEnumerable<honeyWeb.Models.SanPham>
@{
    ViewBag.Title = "Home Page";
}
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-migrate-1.1.js")
    @Scripts.Render("~/Scripts/jquery.easing.1.js") 
    @Scripts.Render("~/Scripts/camera.js") 

<script type="text/javascript">
    $(document).ready(function () {

        jQuery('#camera_wrap').camera({
            loader: false,
            pagination: true,
            thumbnails: false,
            height: '43.624494142%',
            fx: 'curtainSliceRight',
            rows: '1',
            slicedCols: '5',
            slicedRows: '1',
            caption: false
        });

    });


    $(document).ready(function () {
        // Initialize the gallery
        $('.magnifier2').touchTouch();l
    });

    function myFocus(element) {
        if (element.value == element.defaultValue) {
            element.focus();
            element.value = '';
        }
    }
    function myBlur(element) {
        if (element.value == '') {
            element.blur();
            element.value = element.defaultValue;
        }
    }
</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
<!--            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
-->

	<!--==============================header=================================-->
					
						<div class="slider_box">
							<div class="slider_box2">
								<div class="container_12">
									<div class="grid_12">
										<div class="slider_wrapper">
											<div class="" id="camera_wrap">
													<div data-src="images/slide1.png">
													</div>
													<div data-src="images/slide2.png">
													</div>
													<div data-src="images/slide3.png">
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

	<!--=======content================================-->

					<div class="wrapper">
						<div class="container_12">
							<div class="grid_12">

								<div class="grid_4 alpha txt_cntr sign1 pos_rel">
									<img alt="" src="images\page1_icon1.png" class="img1 no_resize">
									<h3><a href="#">Ong mật</a></h3>
									<p class="w180 marTop_10">Những chú ong mật khỏe mạnh, dẻo dai chăm chỉ tìm hoa mỗi ngày </p>
								</div>

								<div class="grid_4 txt_cntr sign2 pos_rel">
									<img alt="" src="images\page1_icon2.png" class="img1 no_resize">
									<h3><a href="#">Vườn hoa</a></h3>
									<p class="w180 marTop_10">Những bông hoa đầy sức sống, tươi tắn trong các khu vườn thiên nhiên dọc theo miền đất nước</p>
								</div>

								<div class="grid_4 omega txt_cntr">
									<img alt="" src="images\page1_icon3.png" class="img1 no_resize">
									<h3><a href="#">Mật ong</a></h3>
									<p class="w180 marTop_10">Những tổ mật ong tinh khiết thiên nhiên, nhiều chất dinh dưỡng giúp chữa bệnh, làm đẹp cho mọi người</p>
								</div>


							</div>
						</div>
					</div>

            <!--
					<div class="box-1">
						<div class="container_12">
							<div class="grid_12">

								<div class="grid_4 alpha">
									<p class="title_subscr">Newsletter</p>
								</div>

								<div class="grid_8 omega">
									<form id="subscribe-form">
						  <div class="success">Your subscription request has been sent!</div>
						  <fieldset>
							  <div class="grid_5 alpha">
								<label class="email">
								<input type="email" value="E-mail" onfocus="myFocus(this);" onblur="myBlur(this);">
								<span class="error">*This is not a valid email address.</span></label>
							  </div>
							  <div class="grid_3 omega">
								<div class="btns"><a href="#" class="more_btn" data-type="submit">Subscribe</a></div>
							  </div>
						  </fieldset>
					  </form>
								</div>


							</div>
						</div>
					</div>
        -->

	        <div class="container_12">
		        <div class="grid_12">

			        <div class="wrapper">
				        <h2>
					        <img alt="" src="\images\cell_sign.png" class="img2 no_resize">
					        Sản phẩm
				        </h2>
                        @for(var t=0;t<1;t++){
                            for(var i=0; i<4;i++){
				                <div class="grid_3 alpha">
                                @if (i + t + i * t < @ViewBag.TotalProds)
                                {
					                <div class="wrapp  maxheight">
						                <a href="#" class="img_project">
							                <img alt="" src="@ViewBag.Prods[i + t + i * t].hinh_anh" class="">
							                <span class="price_sign">@ViewBag.Prods[i + t + i * t].gia_sp VND</span>
						                </a>
						                <!--<h3><a href="#">i=i t=t --(i + t + i * t + 1)-- ViewBag.Prods[i + t + i * t].ten_sp</a></h3>-->
                                        <h3><a href="#">@ViewBag.Prods[i + t + i * t].ten_sp</a></h3>
						                <p style="height:36px;">@ViewBag.Prods[i + t + i * t].ghi_chu</p>
					                </div>
                                }
                                @if (i + t + i * t + 1 < ViewBag.TotalProds)
                                {
					                <div class="wrapper marTop1">
						                <a href="#" class="img_project">
							                <img alt="" src="@ViewBag.Prods[i + 4 * (t+1)].hinh_anh" class="">
							                <span class="price_sign"> @ViewBag.Prods[i + 4 * (t+1)].gia_sp VND</span>
						                </a>
                                        <h3><a href="#">@ViewBag.Prods[i + 4 * (t+1)].ten_sp</a></h3>
						                <p style="height:36px;">@ViewBag.Prods[i + 4 * (t+1)].ghi_chu</p>
					                </div>
                                }
				                </div>  
                                
                            }
                        }
                        <!--
				        <div class="grid_3">
					        <div class="wrapp  maxheight">
						        <a href="#" class="img_project">
							        <img alt="" src="\images\page1_pic3.jpg" class="">
							        <span class="price_sign">$5</span>
						        </a>
						        <h3><a href="#">Lorem ipsum do</a></h3>
						        <p>Tempor cum soluta nob is</p>
					        </div>

					        <div class="wrapper marTop1">
						        <a href="#" class="img_project">
							        <img alt="" src="\images\page1_pic4.jpg" class="">
							        <span class="price_sign">$15</span>
						        </a>
						        <h3><a href="#">Fegentis in</a></h3>
						        <p>Ror cum soluta nob is eleifend</p>
					        </div>
				        </div>

				        <div class="grid_3">
					        <div class="wrapp  maxheight">
						        <a href="#" class="img_project">
							        <img alt="" src="\images\page1_pic5.jpg" class="">
							        <span class="price_sign">$17</span>
						        </a>
						        <h3><a href="#">Claritas est etia</a></h3>
						        <p>Hiber tempor cum soluta nob is</p>
					        </div>

					        <div class="wrapper marTop1">
						        <a href="#" class="img_project">
							        <img alt="" src="\images\page1_pic6.jpg" class="">
							        <span class="price_sign">$16</span>
						        </a>
						        <h3><a href="#">Decima et quinta</a></h3>
						        <p>Empor cum soluta nob is eleifend</p>
					        </div>
				        </div>

				        <div class="grid_3 omega">
					        <div class="wrapp  maxheight">
						        <a href="#" class="img_project">
							        <img alt="" src="\images\page1_pic7.jpg" class="">
							        <span class="price_sign">$6</span>
						        </a>
						        <h3><a href="#">Investigationes dem</a></h3>
						        <p>Nam liber teor cum soluta nob is </p>
					        </div>

					        <div class="wrapper marTop1">
						        <a href="#" class="img_project">
							        <img alt="" src="\images\page1_pic8.jpg" class="">
							        <span class="price_sign">$3</span>
						        </a>
						        <h3><a href="#">Rigation quin</a></h3>
						        <p>Nam liber teor cum soluta nob is </p>
					        </div>
				        </div>
                        -->

			        </div>

	        </div>
        </div>

       </div>
    </section>


}