<!DOCTYPE html>
<html lang="en">
		 <head>
		 <title>Home</title>
		 <meta charset="utf-8">
		 <meta name="format-detection" content="telephone=no">
		 <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
		 <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
		 
         <link rel="stylesheet" href="/Content/reset.css">
         <link rel="stylesheet" href="/Content/skeleton.css">
         <link rel="stylesheet" href="/Content/superfish.css">
          <link rel="stylesheet" href="/Content/touchTouch.css">
        <link rel="stylesheet" href="/Content/camera.css">
         <link rel="stylesheet" href="/Content/form.css">
        <link rel="stylesheet" href="/Content/subscribe-form.css">
        <link rel="stylesheet" href="/Content/owl.carousel.css">
        <link rel="stylesheet" href="/Content/style.css">

        @Scripts.Render("~/Scripts/jquery.js")
		@Scripts.Render("~/Scripts/jquery-migrate-1.1.js")
		@Scripts.Render("~/Scripts/jquery.easing.1.js") 
		@Scripts.Render("~/Scripts/scroll_to_top.js") 
		@Scripts.Render("~/Scripts/script.js") 
		@Scripts.Render("~/Scripts/sForm.js") 
        @Scripts.Render("~/Scripts/TMForm.js") 
		@Scripts.Render("~/Scripts/touchTouch.js")
        @Scripts.Render("~/Scripts/superfish.js") 

    	 @Scripts.Render("~/Scripts/camera.js") 
		 <!--[if (gt IE 9)|!(IE)]><!-->
         @Scripts.Render("~/Scripts/jquery.mobile.customized.js") 
		 <!--<![endif]-->
        @Scripts.Render("~/Scripts/owl.js")

     <script>
         $(document).ready(function () {
             /*carousel*/
             var owl = $("#owl");
             owl.owlCarousel({
                 items: 1, //10 items above 1000px browser width
                 itemsDesktop: [995, 1], //5 items between 1000px and 901px
                 itemsDesktopSmall: [767, 1], // betweem 900px and 601px
                 itemsTablet: [700, 1], //2 items between 600 and 0
                 itemsMobile: [479, 1], // itemsMobile disabled - inherit from itemsTablet option
                 navigation: false,
                 pagination: true
             });
         });


     </script>

		 <!--[if lt IE 8]>
			 <div style=' clear: both; text-align:center; position: relative;'>
				 <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					 <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				 </a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
		<![endif]-->
		 </head>
<body>
	<!--button back top-->
			<div id="back-top">TOP</div>    

			<header>
			
					<div class="container_12">
                        
                        <div class="grid_13 account_area">
                            <!--<span><a href="/Account/Login">Log in</a></span><span><a>Sign up</a></span>-->
                        </div>
						<div class="grid_12 txt_cntr">
                            <h1><a href="#"><img src="images/logo.png" alt="Honey"></a></h1>
							<div class="white_bg">
								<nav>
										<ul class="sf-menu">
												<li class="current">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
												<!--<li><a href="/Product/Index">Sản phẩm</a>
														<ul class='submenu'>
																<li><a href="#">Lorem</a></li>
																<li class='sub-menu'><a href="#">Drtyop </a>
																		<ul class='submenu2'>
																				<li><a href="#">Latest</a></li>
																				<li><a href="#">Archive</a></li>
																		</ul>
																</li>
														</ul>
												</li>-->
												<li><a href="/Product/Index">Sản phẩm<strong></strong></a></li>
                                                <li><a href="/Home/Contact">Đặt hàng sản phẩm</a></li>
												<!--<li id="last-li"><a href="wt_48175\index-5.html">Contacts<strong></strong></a></li>-->
                                                <li id="last-li">@Html.ActionLink("Giới thiệu", "About", "Home")</li>
										</ul>
								</nav>
							</div>
						</div>
					</div>
			
				
			</header>


	<div class="main">
			<div class="div-content">    
	<!--==============================header=================================--
					
					
					
						<div class="slider_box">
							<div class="slider_box2">
								<div class="container_12">
									<div class="grid_12">
										<div class="slider_wrapper">
											<div class="" id="camera_wrap">
													<div data-src="images/slide1.jpg">
													</div>
													<div data-src="images/slide2.jpg">
													</div>
													<div data-src="images/slide3.jpg">
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
=======->

	<!--=======content================================--

					<div class="wrapper">
						<div class="container_12">
							<div class="grid_12">

								<div class="grid_4 alpha txt_cntr sign1 pos_rel">
									<img alt="" src="wt_48175\images\page1_icon1.png" class="img1 no_resize">
									<h3><a href="#">Duis autemve</a></h3>
									<p class="w180 marTop_10">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet </p>
								</div>

								<div class="grid_4 txt_cntr sign2 pos_rel">
									<img alt="" src="wt_48175\images\page1_icon2.png" class="img1 no_resize">
									<h3><a href="#">Eodem modot</a></h3>
									<p class="w180 marTop_10">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet </p>
								</div>

								<div class="grid_4 omega txt_cntr">
									<img alt="" src="wt_48175\images\page1_icon3.png" class="img1 no_resize">
									<h3><a href="#">Ut wisi enim adm</a></h3>
									<p class="w180 marTop_10">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet </p>
								</div>


							</div>
						</div>
					</div>


					<div class="box-1">
						<div class="container_12">
							<div class="grid_12">

								<div class="grid_4 alpha">
									<p class="title_subscr">Newsletter</p>
								</div>

								<div class="grid_8 omega">
									<form id="subscribe-form">
						  <div class="success">Your subscription request has been sent!</div>
						  <fieldset>
							  <div class="grid_5 alpha">
								<label class="email">
								<input type="email" value="E-mail" onfocus="myFocus(this);" onblur="myBlur(this);">
								<span class="error">*This is not a valid email address.</span></label>
							  </div>
							  <div class="grid_3 omega">
								<div class="btns"><a href="#" class="more_btn" data-type="submit">Subscribe</a></div>
							  </div>
						  </fieldset>
					  </form>
								</div>


							</div>
						</div>
					</div>
        -->
    <!--------------Content--------------->
    <section id="content">
        <div class="wrap-content zerogrid">
            <div class="row">
                @RenderSection("featured", required: false)
                <section class="content-wrapper .main-center-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
    </section>

    <!--contact -->
				<div class="box-2">
					<div class="container_12">
						<div class="grid_12">

							<div class="grid_4 alpha">

								<div id="owl">
					  <div class="item">
						<blockquote>
							<p>“Mật ong trở thành một trong những thành phần thường gặp nhất trong các sản phẩm dưỡng da và tóc. Mật ong rừng nguyên chất  đặc biệt tốt cho làn da khô, nhạy cảm và bị mụn.”</p>
						</blockquote>
						<p class="bq_txt1">Amanda Smith</p>
						<p class="bq_txt2">Office Manager, USA</p>
					  </div>
<!---
					  <div class="item">
						<blockquote>
							<p>“Ở phương Đông xa xưa, từ trong cung vua, phủ chúa đến muôn chốn dân gian, Mật ong luôn luôn là một trong những bí quyết rất được trọng dụng.”</p>
						</blockquote>
						<p class="bq_txt1">Jessy Smith</p>
						<p class="bq_txt2">Office Manager, USA</p>
					  </div>-->
					</div>
								
							</div>

							<div class="grid_8 omega">
								<p class="title_order">Ordering</p>
								<div class="wrapper marTop2">
									<p class="num_txt">1.</p>
									<div class="box2">
										<p class="color1">Ở phương Đông xa xưa, từ trong cung vua, phủ chúa đến muôn chốn dân gian, Mật ong luôn luôn là một trong những bí quyết rất được trọng dụng.</p>
									</div>
								</div>
								<div class="wrapper marTop3">
									<p class="num_txt">2.</p>
									<div class="box2">
										<p class="color1">Email: </p>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>

	<!--=======footer=================================-->
					<footer>
						<div class="container_12">
							<div class="grid_12">

								<div class="main-footer">
									<h1><a href="wt_48175\index.html"><img src="images\logo.png" alt="Honey"></a></h1>
									<p class="priv_txt">&copy; <span id="copyright-year"></span> | <a href="wt_48175\index-6.html">Privacy policy</a><br><!--{%FOOTER_LINK} --></p>
									<div class="clear"></div>
								</div>

							</div>
						</div>
					</footer>													
						
			</div>
	</div>

	<script type="text/javascript">
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-7078796-5']);
	    _gaq.push(['_trackPageview']);
	    (function () {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();</script>
   
</body>
</html>