@model IEnumerable<honeyWeb.Models.BaiViet>
@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <!--<h1>@ViewBag.Title.</h1>-->
    <!--<h2>@ViewBag.Message</h2>-->
</hgroup>

<div class="container_12">
<div class="grid_12">

    <div class="wrapper">
        <div class="grid_8 alpha">
	        <h2>Một số thông tin cần biết về mật ong </h2>
            <div class="marTop4">
                <img src="http://c2.staticflickr.com/6/5445/17824649025_99a8f87ecc_z.jpg" />
                </div>
	        <div class="marTop4">
		        <img alt="" src="images\page2_pic1.jpg" class="img3">
                @foreach (var item in ViewBag.articles)
                {
       		        <h3>@item.tieu_de</h3>
    		        <p><img src="@item.noi_dung" width="800px" height="600px"/></p>
                    <br />
                    <p>---------</p>
                }
	        </div>
            
        </div>
        <div class="grid_12 paging">
            @for (var i = 0; i < ViewBag.totalPage; i++)
            {
                <span>@(i+1) |</span>
            }
        </div>
    </div>

</div>
</div>
