@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <!--<h1>@ViewBag.Title.</h1>-->
    <!--<h2>@ViewBag.Message</h2>-->
</hgroup>
<section class="contact">

	<div class="container_12">
		<div class="grid_12">

			<div class="wrapper">

				<div class="grid_9 alpha">
                    <!--
					<div class="address">
						<figure class="img_inner">
								<iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
						</figure>
					</div>
                    -->
					<h2 class="v2">Đặt hàng - Liên hệ</h2>
                    <!--<div class="address" style="width:100%">-->
					<form id="contact-form" method="post" onsubmit="return validateForm()" name="Form">
                        @using (@Ajax.BeginForm("Contact", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ketquaContact" }, new { id = "IdformContact" }))
                        {
                            @Html.ValidationSummary(true)
                                
								<div class="success-message">Thông tin liên hệ! <strong>We will be in touch soon.</strong></div>
								<div class="wrapper">
									<label class="name">
										<!--<input type="text" placeholder="Name*:" data-constraints="aRequired aJustLetters">-->
                                        <input type="text" name="Name" placeholder="Họ tên*:" data-constraints=""/>
										<span class="empty-message">*This field is required.</span>
										<span class="error-message"> *This is not a valid name.</span>
									</label>
									<label class="address">
                                        <input type="number" class="requiredNumber" name="Phone" placeholder="Số điện thoại*:" data-constraints=""/>
										<span class="empty-message">*This field is required.</span>
										<span class="error-message">*This is not a valid phone.</span>
									</label>
									<label class="address">
                                        <input type="text" name="Address" placeholder="Địa chỉ*:" data-constraints=""/>
										<span class="empty-message">*This field is required.</span>
										<span class="error-message">*This is not a valid address.</span>
									</label>
									<label class="name">
										<!--<input type="text" placeholder="Email*:" data-constraints="aRequired aEmail">-->
                                        <input type="text" name="Email" placeholder="Email:" data-constraints=""/>
										<span class="empty-message">*This field is required.</span>
										<span class="error-message">*This is not a valid email.</span>
									</label>
									<label class="">
                                        <div>Loại sản phẩm: @Html.DropDownList("cateId",(SelectList)ViewBag.Prods)</div>
									</label>
									<label class="name">
                                        <input type="number" class="requiredNumber" name="Quantity" placeholder="Số lượng:" data-constraints=""/>
										<span class="empty-message">*This field is required.</span>
										<span class="error-message">*This is not a valid phone.</span>
									</label>
								</div>
								<label class="message">
									<!--<textarea placeholder="Message:" data-constraints='aRequired aLength(min=20,max=999999)'></textarea>-->
                                    <textarea class="requiredNumber" name="Msg" placeholder="Lời nhắn: " data-constraints='' ></textarea>
									<span class="empty-message">*This field is required.</span>
									<span class="error-message">*The message is too short.</span>
								</label>

								<div class="form_btns" style="width:80%">
									<a href="#" data-type="reset" class="more_btn2">Clear</a> 
									<a href="#" data-type="submit" class="more_btn2">Submit</a>
                                    <a><input type="submit" value="Submit"/></a>
								</div>  
						}
                       </form>
                    <!--</div>-->
					<div class="grid_9 alpha">
						<address>
							<dl>
									<dt>Mật ong miệt vườn</dt>
									<dd><span>Freephone:</span>+1 800 559 6580</dd>
									<dd><span>Telephone:</span>+1 800 603 6035</dd>
									<dd><span>FAX:</span>+1 800 889 9898 </dd>
									<dd>E-mail: <a href="#" class="link2">mail@demolink.org</a></dd>
							</dl>
						</address>
					</div>
				</div>

				<div class="grid_3 omega">
                    <div class="grid_4 item-img"><img src="http://c2.staticflickr.com/8/7681/17207780618_fc18fa5b1c.jpg" /></div>
                    <div class="grid_4 item-img" style="margin-left:20px"><img src="http://c1.staticflickr.com/9/8892/17207785018_fd40dffeb5.jpg" /></div>
				</div>
            </div>
			</div>
			<div class="indent1"></div>
		</div>
	

	<!--- scripts -->
	<script>
		$(document).ready(function () {
		  //called when key is pressed in textbox
		  $("#quantity").keypress(function (e) {
			 //if the letter is not digit then display error and don't type anything
			 if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
				//display error message
				$(".error-message").show().fadeOut("slow");
					   return false;
			}
		  });

		});

		function validateForm() {
		    //alert("validateForm");
		    var a = document.forms["Form"]["Name"].value;
		    var b = document.forms["Form"]["Phone"].value;
		    var c = document.forms["Form"]["Address"].value;
		    var d = document.forms["Form"]["Quantity"].value;
		    //alert("aaaaaaaaaaa-------"+a);
		    if (a == "" || a== undefined || b == "" || b== undefined ||c == "" || c== undefined ||d == "" || d== undefined) {
		        alert("Vui lòng điền đầy đủ thông tin!");
		        return false;
		    }
		}

		
	</script>
</section>