@model IEnumerable<honeyWeb.Models.SanPham>
@{
    ViewBag.Title = "Home Page";
}
    @Scripts.Render("~/Scripts/jquery.js")
    @Scripts.Render("~/Scripts/jquery-migrate-1.1.js")
    @Scripts.Render("~/Scripts/jquery.easing.1.js") 
    @Scripts.Render("~/Scripts/camera.js") 


<script type="text/javascript">
    $(document).ready(function () {

        jQuery('#camera_wrap').camera({
            loader: false,
            pagination: true,
            thumbnails: false,
            height: '43.624494142%',
            fx: 'curtainSliceRight',
            rows: '1',
            slicedCols: '5',
            slicedRows: '1',
            caption: false
        });

    });


    $(document).ready(function () {
        // Initialize the gallery
        $('.magnifier2').touchTouch();l
    });

    function myFocus(element) {
        if (element.value == element.defaultValue) {
            element.focus();
            element.value = '';
        }
    }
    function myBlur(element) {
        if (element.value == '') {
            element.blur();
            element.value = element.defaultValue;
        }
    }
</script>

@section featured {
   <!-- <section class="featured">
        <div class="content-wrapper">-->
<!--            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
-->

	<!--==============================header=================================-->
					<!---
						<div class="slider_box">
							<div class="slider_box2">
								<div class="container_12">
									<div class="grid_12">
										<div class="slider_wrapper">
											<div class="" id="camera_wrap">
													<div data-src="http://c2.staticflickr.com/6/5326/17208010470_3b603764d6_b.jpg">
													</div>
													<div data-src="http://c2.staticflickr.com/8/7661/17209372129_e885cbfd80_b.jpg">
													</div>
													<div data-src="http://c2.staticflickr.com/8/7767/17393606822_05dbdd602f_b.jpg">
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                       --> 
    
            <div class="slider_box">
	            <div class="slider_box2">
		            <div class="container_12">
			            <div class="grid_12">

	                        <div id="content-slider">
    	                        <div id="slider">
        	                        <div id="mask">
                                    <ul>
           	                        <li id="first" class="firstanimation">
                                    <a href="#">
                                    <img src="http://c2.staticflickr.com/6/5326/17208010470_3b603764d6_b.jpg" alt="Cougar"/>
                                    </a>
                                    <div class="tooltip">
                                    <h1>Cougar</h1>
                                    </div>
                                    </li>

                                    <li id="second" class="secondanimation">
                                    <a href="#">
                                    <img src="http://c2.staticflickr.com/8/7661/17209372129_e885cbfd80_b.jpg" alt="Lions"/>
                                    </a>
                                    <div class="tooltip">
                                    <h1>Lions</h1>
                                    </div>
                                    </li>
            
                                    <li id="third" class="thirdanimation">
                                    <a href="#">
                                    <img src="http://c2.staticflickr.com/8/7767/17393606822_05dbdd602f_b.jpg" alt="Snowalker"/>
                                    </a>
                                    <div class="tooltip">
                                    <h1>Snowalker</h1>
                                    </div>
                                    </li>
                        
                                    <li id="fourth" class="fourthanimation">
                                    <a href="#">
                                    <img src="http://c2.staticflickr.com/8/7767/17393606822_05dbdd602f_b.jpg" alt="Howling"/>
                                    </a>
                                    <div class="tooltip">
                                    <h1>Howling</h1>
                                    </div>
                                    </li>
                        
                                    <li id="fifth" class="fifthanimation">
                                    <a href="#">
                                    <img src="http://c2.staticflickr.com/8/7661/17209372129_e885cbfd80_b.jpg" alt="Sunbathing"/>
                                    </a>
                                    <div class="tooltip">
                                    <h1>Sunbathing</h1>
                                    </div>
                                    </li>
                                    </ul>
                                    </div>
                                    <div class="progress-bar"></div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
        
	<!--=======content================================-->

	        <div class="container_12">
		        <div class="grid_12">

			        <div class="wrapper">
				        <h2>
					        <img alt="" src="\images\cell_sign.png" class="img2">
					        <a style="color:#999"> Sản Phẩm </a>
				        </h2>
                        @for(var t=0;t<1;t++){
                            for(var i=0; i<4;i++){
				                <div class="grid_3 alpha">
                                @if (i + t + i * t < @ViewBag.TotalProds)
                                {
					                <div class="wrapp  maxheight">
						                <a href="/Product/Details/@ViewBag.Prods[i + t + i * t].id" class="img_project">
							                <img alt="" src="@ViewBag.Prods[i + t + i * t].hinh_anh" />
                                            @if(@ViewBag.Prods[i + t + i * t].tinh_trang == 1){
							                <span class="price_sign">Còn hàng</span>
                                            }else{
                                                if (@ViewBag.Prods[i + t + i * t].tinh_trang == 3)
                                                {
                                                    <span class="price_sign">Hết hàng</span>
                                                }
                                            }
						                </a>
						                <!--<h3><a href="#">i=i t=t --(i + t + i * t + 1)-- ViewBag.Prods[i + t + i * t].ten_sp</a></h3>-->
                                        <h3 style="text-align: center; margin-bottom: 10px;"><a href="/Product/Details/@ViewBag.Prods[i + t + i * t].id">@ViewBag.Prods[i + t + i * t].ten_sp</a></h3>
						                <p style="height:36px; text-align:center;">@ViewBag.Prods[i + t + i * t].mo_ta_ngan</p>
					                </div>
                                }
                                @if (i + t + i * t + 1 < ViewBag.TotalProds)
                                {
					                <div class="wrapper marTop1">
						                <a href="/Product/Details/@ViewBag.Prods[i + 4 * (t + 1)].id" class="img_project">
							                <img alt="" src="@ViewBag.Prods[i + 4 * (t + 1)].hinh_anh" />
							                <!--<span class="price_sign"> @ViewBag.Prods[i + 4 * (t + 1)].gia_sp</span>-->
                                            @if (@ViewBag.Prods[i + 4 * (t + 1)].tinh_trang == 1)
                                            {
							                <span class="price_sign">Còn hàng</span>
                                            }else{
                                                if (@ViewBag.Prods[i + 4 * (t + 1)].tinh_trang == 3)
                                                {
                                                    <span class="price_sign">Hết hàng</span>
                                                }
                                            }

						                </a>
                                        <h3 style="text-align: center; margin-bottom: 10px"><a href="/Product/Details/@ViewBag.Prods[i + 4 * (t + 1)].id">@ViewBag.Prods[i + 4 * (t + 1)].ten_sp</a></h3>
						                <p style="height:36px;text-align:center">@ViewBag.Prods[i + 4 * (t + 1)].mo_ta_ngan</p>
					                </div>
                                }
				                </div>  
                                
                            }
                        }

			        </div>

	        </div>
        </div>

     <!--  </div>
    </section>
         -->

}