  @model honeyWeb.Models.SanPham

@{
    ViewBag.Title = "Details";
}

<div class="container_12">
	<div class="grid_12">
		<div class="wrapper">

            <h2>Details</h2>

            <h2>tên @Html.DisplayNameFor(model => model.ten_sp)</h2>
            <div class="left-detail grid_5"><img src="@Html.DisplayFor(model => model.hinh_anh)" /></div>
            <div class="right-detail grid_6">
                <p> @Html.DisplayNameFor(model => model.ghi_chu)</p>
                <p> @Html.DisplayNameFor(model => model.gia_sp)</p>
                <p><a href="/Home/Contact">MUA NGAY</a></p>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>